.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loginpage  {
  background-color: #b804ff;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  margin: auto;
  justify-content: center;
  display: flex;
}

.mainpage {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navigator {
  background-color: #b605fc;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-evenly
}

.dashboard {
  background-color: #f8f3fa;
  flex: 10;
}

.button {
  font-size: 30px;
}